
<header>
    <div class="container1">
    <a href="#" routerLink="/home" class="logo">Burger-Fit🍔 </a>
    <div class = "container2">
                <a *ngIf="isLoggedIn()" href="" routerLink="/cart-page" class="logo"><img src="/assets/cart.svg" alt="/static/media/cart.3ff203fa.svg" class="nav-menu__icon"> Cart</a>
            
                <a href="" routerLink="/login" class="logo"><img src="/assets/login.svg" alt="/static/media/login-inactive.de941b20.svg" class="nav-menu__icon"> Login</a>
            
                <a href="" routerLink="/register" class="logo">Register</a>
              
         </div>   
    </div>
</header>
