ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
ul li a{
height: 15rem;
width: 15rem;
border: 2px solid rgb(241, 241, 241) ;
border-radius: 1rem;
margin: 0.5rem;
display: flex;
flex-direction: column;
overflow: hidden;
color: #FF8732;

}
li a :hover{
    opacity:0.7 ;
    cursor: pointer;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: black;
}
.price{
    color: brown;
    font-size: medium;
}
.add{
    background-color: whitesmoke;
    padding: 1px solid;
    border-radius: 1rem ;
    border-color: #FF8732;
 color: #FF8732;
 font-family: BlockBertholdTextured;
 font-size: medium;
 height: 2rem;
     width: 10rem,
 
 }
 div button:hover{
     opacity: .8;
     cursor: pointer;;
 }