<div class="container">
    <img [src]="ketopage.imageUrl" [alt]="ketopage.name">
    <div class="container1">
        <table>
            <thead>
<tr><td>Nurtitional Value</td></tr>
            </thead>
            <tbody>
                <tr>
                <th>Carbs</th>
                <td>{{ketopage.carbs}} g</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Protein</th>
                    <td>{{ketopage.protein}} g</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Fat</th>
                    <td>{{ketopage.fat}} g</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Total Calories</th>
                    <td>{{ketopage.calories}} kcals</td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
<div class ='details'>
   <div class="header">
<span class="name">
    {{ketopage.name}}
</span>
</div>
<div class="detail">
    <span class="detail">
        <br>
        {{ketopage.details}}
        <br>
    </span>
</div>
<div class="price">
    <span>
        {{ketopage.price|currency:'INR'}}
    </span>
</div>
<button class="add" (click)="addToCart()">ADD TO CART 🛍️</button>
</div>


